<!--The idea of using a specific reference time is super dumb lol: https://gohugo.io/functions/format/#gos-layout-string-->
<p class="modification">Last updated: {{ .Lastmod.Format "2006 January 02" }}{{ with .GitInfo }} - <a class="hide-child link primary-color" href="{{$.Site.Params.gitCommitURL}}/{{ .Hash }}">{{ .Subject }} ({{ .AbbreviatedHash }})</a>{{ end }}</p>
<p class="copyright">{{ .Site.Copyright }}</p>